input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    scroll-behavior: smooth;
}

/* Hilangkan spinner di Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #ffeac0;
}

body::-webkit-scrollbar-thumb {
    background-color: #fbbf24;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #e69a00;
}
